[tool.poetry]
name = "wisest"
version = "0.11.0"
description = ""
authors = ["narumi <toucans-cutouts0f@icloud.com>"]
packages = [{ include = "wise" }]

[tool.poetry.dependencies]
python = "^3.10"
httpx = "^0.27.0"
pydantic = "^2.8.2"
click = "^8.1.3"
tqdm = "^4.66.1"
tabulate = "^0.9.0"

[tool.poetry.group.dev.dependencies]
mypy = "^1.11.0"
pytest = "^8.3.1"
pytest-cov = "^5.0.0"
ruff = "^0.6.1"
toml = "^0.10.2"
types-colorama = "^0.4.15.20240311"
types-pygments = "^2.18.0.20240506"
types-setuptools = "^72.2.0.20240821"
types-tabulate = "^0.9.0.20240106"
types-tqdm = "^4.66.0.20240417"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
wise = "wise.cli:cli"

[tool.ruff]
exclude = ["build"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C",   # flake8-comprehensions
    "E",   # pycodestyle Error
    "EM",  # flake8-errmsg
    "F",   # Pyflakes
    "FA",  # flake8-future-annotations
    "I",   # isort
    "N",   # pep8-naming
    "NPY", # NumPy-specific rules
    "PTH", # flake8-use-pathlib
    "S",   # flake8-bandit
    "SIM", # flake8-simplify
    "TRY", # raise-vanilla-args
    "UP",  # pyupgrade
    "W",   # pycodestyle Warning
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"test_*.py" = ["S101"]

[tool.ruff.lint.isort]
force-single-line = true

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]
