[tool.poetry]
name = "wise"
version = "0.1.0"
description = ""
authors = ["なるみ"]

[tool.poetry.dependencies]
python = "^3.8"
cloudscraper = "^1.2.71"
pydantic = "^1.10.7"
loguru = "^0.7.0"

[tool.poetry.dev-dependencies]
flake8 = "^5.0.4"
yapf = "^0.32.0"
pytest = "^7.2.0"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
