name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1

      matrix:
        python-version: [3.9]
        poetry-version: [1.5.1]

    steps:
      - uses: actions/checkout@v3

      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Test
        run: make test
